/* Background color*/
:root {
  background: #393E46;
}
/* Footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:2px;
    background-color: #222831;
    color:#393E46;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    background-color: #222831;
    position: sticky;
    top: 0;

}
.navbar {
    display: flex;
    list-style: none;
    margin: 15px 0px; 
}
.navbar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar a{
    text-decoration: none;
    color: #EEEEEE;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar a:hover{
    background-color: #00ADB5;
    color: #222831
    box-shadow; 0 0 10px #00ADB5    
}
.active {
  background-color: #00ADB5;
}
/*Social Media Bar*/ 
.sidebar{
   position:fixed;
   top:50%;
   right:0px; 
}
.sidebar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:55px;
    height:55px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #222831;
    border: 2px solid #393E46;  
    text-decoration: none;
}
.sidebar i{
    color: #EEEEEE;
    font-size: 30px;
}
/* Social media animation on mouse-over */
.sidebar a:hover{
    background-color:#00ADB5;
    transition: all ease 0.5s;  
}
.sidebar i:hover{
    color:#EEEEEE;
    transition: all ease 0.5s;
}
/*Page Headings/titles */
.headings {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: auto;
    background-color:#00ADB5;
    color:#EEEEEE;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    padding: 35px 0px;   
}
.subheadings {
    display: flex;
    justify-content: center;
    font-family:'Roboto Condensed', sans-serif;
    font-size:2em;
    margin-top:40px;
    margin-bottom:40px;
    color: #EEEEEE;
    text-decoration: underline 10px #00ADB5;
}
.aboutme{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:200px;
    background-color:#00ADB5;
    color:#EEEEEE;
    font-family:'Roboto Condensed', sans-serif;
    font-size:1rem;
    padding:20px 0px;
}
/*Home Page*/
.centerhome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 300px;
  border-radius: 20px;
}
.home{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color:#EEEEEE;
     margin-top: 25px;
     text-decoration: underline 7px #222831;
}
/*About me*/
.flex-grid {
    display: flex;
  }
  .flex-grid .col {
    flex: 1;
  }
  .flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }
.topleft{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    color: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
}
.bottomleft{
    color: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 180px;
    margin-left: 20px;  
}
.topcenter{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    color: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    width: 150px;
    margin-left: 20px;
}
.bottomcenter{
    color: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 150px;
    margin-left: 20px;    
}
.topright{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 20px;
    width: 150px;
    color: #EEEEEE;
    font-family: 'Roboto Mono', monospace;
}
/* Style buttons */
.btn {
    background-color: #222831;
    border: none;
    color:#EEEEEE;
    padding: 30px 30px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 250px;
    bottom: 150px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #00ADB5;
    color:#EEEEEE;
    transition: 0.5s;
  }
  /*Blogs List Page*/
  .row{
      display: flex;
  }
  .box{
      display: flex;
      flex-direction: column;
      width: 220px;
      height: 400px;
      border: 1px solid #222831;
      color: #222831;
      font-family: 'Roboto Mono', monospace;
      margin: 10px;
      align-items:center;
      text-align: justify;
      padding:10px;
      border-radius: 15px;
      background: linear-gradient(to top, #00adb5 50%, #EEEEEE 50%);
      background-size: 100% 200%;
      transition: all .6s;
      margin-top: 80px;
      margin-left:20px;
      text-decoration: none;
  }
  .box:hover{
      background-position: left bottom;
      color: #EEEEEE;
      border: none;
  }
  /* Individual Blog Pages */
.blog{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    font-family: 'Roboto Mono', monospace;
    color:#EEEEEE;
    border-radius: 10px;
}
/*Contact Me Page */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding:20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding:12px;
    margin:15px;
    width: 30%;
}
#msg{
    width: 30%;
    padding: 10px;
    margin: 15px;
}
#send{
    padding: 10px;
    width:10%;
    border: none;
    outline: none;
    background-color: #222831;
    color: #EEEEEE;
}
#send:hover{
    cursor:pointer;
    background-color: #00ADB5;
    color: #EEEEEE;
}
    
